html, body, input, button {
  padding: 0;
  font: 1rem 'Fira Sans', sans-serif;
  margin: .4rem;
}

canvas{
	/*move sketch to the top of the page, on the right of all the form controls */
    position: absolute;
	left: 30%;
	top: 5%;
}

/* Slider styling - ref: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
  width: 25%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #910f0f; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Invert the direction of the speed and bound limit sliders to be more intuitive - */
/* i.e Since increasing the speed variable slows down the wave this value should be represented by the slider being in the */
/* leftmost position to conform with typical number line formats */

#slSpeed {
  direction: rtl
}

#slTop {
  direction: rtl
}

