form {
 display:inline;
 font-family: "Arial";
 }
 
button {
	display:inline;
	font-family: "Arial";
	width: 170px;
}

li {
	font-family: "Arial";
}

ul {
	font-family: "Arial";
}
 

 p {
	 font-family: "Arial";
 }
 
 h4 {
	 font-family: "Arial";
 }
